# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Временные папки и данные
build/
dist/
*.spec

# Настройки IDE
.vscode/
.idea/
*.suo
*.workspace

# Мусор
all_code_context.txt
*.log

# Системный мусор
Thumbs.db
Desktop.ini
.DS_Store

# Черновики и временные ресурсы разработки
betaicons/
bebebe/